/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
ul {
  min-width: 425px;
}

.cjmpLink {
  color: #0645AD;
}
.cjmpLink:hover {
  color:  #0B0080;
  text-decoration: underline;
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}