body {
  margin: unset;
  font-family: 'Manrope', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: #fdf8ee;
}

.header-section {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.5em 1.5em;
  background: #fdf8ee;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}
.header-section:hover {
  background: #aec9e4;
}
.header-section.selected {
  background: #2c6298;
  color: #fdf8ee;
  box-shadow: 0px 1px 4px 0px #00000085;
}

.spacer {
  height: 10em;
}

.home {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.home .body {
  flex: 1 0;
  background: #fdf8ee;
}

.snippets {
  flex: 1 0;
  background: #fdf8ee;
}

.snippets .body {
  margin: 2em 10%;
}

.angled-border {
  z-index: -1;
  width: 120%;
  height: 7em;
  background: #fdf8ee;
}


.angled-border-top {
  transform: rotate(-5deg) translateY(-5.5vw) translateX(-1vw);
}

.angled-border-bottom {
  transform: rotate(-5deg) translateY(4.5vw) translateX(-1vw);
}

.background-image {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}
