.snippet .title {
  font-size: 1.4em;
}

.snippet .date-line {
  opacity: 0.5;
  font-size: 0.8em;
  margin-left: 1em;
}

.snippet .content-header {
  display: flex;
}

.snippet .tab {
  padding: 0.5em 1.5em;
  cursor: pointer;
  border: 1px solid #506071;
}

.snippet .tab.selected {
  background: #506071;
  color: #fff;
}

.snippet .content-container {
  padding: 1em;
  background: #506071;
  color: #fff;
  border: 1px solid #506071;
}

.snippet .description {
  margin: 0.5em 0 1em 0;
}

.snippet .section p {
  text-indent: 1em;
}

.scrambled-text {
  font-family: monospace;
  word-break: break-all;
  line-height: 1.2em;
}
