<div class="container">
	<div class="header clearfix">
		<nav>
      <ul class="nav nav-pills pull-right">
      	<li role="presentation" class="active">
      		<a routerLink="/dashboard" routerLinkActive="active">Home</a>
      	</li>
		    <li role="presentation">
		    	<a routerLink="/programming" routerLinkActive="active">Projects</a>
		    </li>
		    <li role="presentation">
		    	<a routerLink="/employment" routerLinkActive="active">Work History</a>
		    </li>
		    <li role="presentation">
		    	<a routerLink="/skills" routerLinkActive="active">Skills</a>
		    </li>
		    <li role="presentation">
		    	<a routerLink="/the-rest" routerLinkActive="active">The Rest</a>
		    </li>
      </ul>
    </nav>
    <h3 class="text-muted">Caleb Matthews</h3>
	</div>
	<router-outlet></router-outlet>
</div>