h2 {
	text-align: center;
	margin: 0 0 25px 0;
}
ul {
	margin: auto;
	padding: 20px 0 20px 0;
	max-width: 500px;
}
li {
	margin: 5px 0 5px 0;
}

.addlInfo {
	margin: 0 0 25px 0;
}
.cjmpSlide {
	width: 750px;
	height: 450px;
/*	background-color: #dce0e8;*/
}
.cjmpScreenshot {
	display: block;
	margin: auto;
	max-width: 750px;
	max-height: 450px;
}
.cjmpSDContainer {
	position: relative;
	left: calc(-50vw + 50%);
	width: 100vw;
	margin: 20px 0 0 0;
	padding: 5px;
}
.cjmpShortDescription {
	text-align: center;
}