h2 {
	text-align: center;
	margin: 0 0 25px 0;
}
ul {
	margin: auto;
	padding: 20px 0 20px 0;
	max-width: 500px;
}
li {
	margin: 5px 0 5px 0;
}

.addlInfo {
	margin: 0 0 25px 0;
}
.cjmpGradient {
	position: absolute;
	z-index: 1;
	width: 750px;
	height: 450px;
}
.carousel-caption {
	z-index: 2;
}
.cjmpSlide {
	width: 100%;
	height: 450px;
/*	background-color: #dce0e8;*/
}
.cjmpScreenshot {
	display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  animation-duration: 1s;
  animation-name: fadein;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.cjmpSDContainer {
	position: relative;
	left: calc(-50vw + 50%);
	width: 100vw;
	margin: 20px 0 0 0;
	padding: 5px;
}
.cjmpShortDescription {
	text-align: center;
}
.cjmpBullet {
	padding-left: 20px;
}
.cjmpLink {
  color: #0645AD;
}
.cjmpLink:hover {
  color:  #0B0080;
  text-decoration: underline;
  cursor: pointer;
}