<div *ngIf="project">
  <h2>{{project.name}}</h2>
  <div class="screen-wrapper">
  	<carousel [interval]="5000" [noWrap]="false">
      <slide class="cjmpSlide" *ngFor="let screenshots of slides" 
        [active]="screenshots.active">
        <img [src]="screenshots.image">

        <div class="carousel-caption">
          <p>{{screenshots.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="bg-primary cjmpSDContainer">
    <h4 class="cjmpShortDescription">{{ project.shortDescription }}</h4>
  </div>
  <ul>
  	<li *ngFor="let line of project.longDescription">{{line}}</li>
  </ul>
  <div *ngIf="project.link" class="addlInfo">
    For more information on the context of this project, see the 
  	<span class="cjmpLink" 
      (click)="gotoIdDetail(project.link[0])">{{project.linkName[0]}}</span> 
  	section.
  </div>
  <button (click)="goBack()" class="btn btn-default">Back</button>
</div>