<div class="cjmpStub" *ngIf="project">
	<div class="cjmpImgContainer">
		<div class="cjmpFrame">
			<img [src]="project.logo" />
		</div>
	</div>
	<div [ngSwitch]="project.type">

		<span *ngSwitchCase="'Programming'">
			<h4>{{ project.name }}</h4>
			{{ project.shortDescription }}
		</span>

		<span *ngSwitchCase="'Self'">
			<h4>{{ project.name }}</h4>
			{{ project.shortDescription }}
		</span>

		<span *ngSwitchCase="'Employment'">
			<h4>{{ project.name }} at {{ project.employer }}</h4>
			{{ project.shortDescription }}
		</span>

		<span *ngSwitchCase="'Skill'">
			<h4>{{ project.name }}: </h4>
			{{ translateFamiliarity(project.familiarity) }} familiarity
		</span>

	</div>
</div>