<h2>Skills</h2>
<div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="cjmpHeader">
        <th><div class="cjmp1">Skill</div></th>
        <th><div class="cjmp2">Extensive<br>Experience</div></th>
        <th><div class="cjmp3">Moderate<br>Experience</div></th>
        <th><div class="cjmp4">Some<br>Experience</div></th>
        <th><div class="cjmp5">Related<br>Projects</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of arrProjects">
        <td *ngIf="project.type==='Skill'"><div class="cjmp1"><div class="cjmpImgContainer">
          <div class="cjmpFrame">
            <img [src]="project.logo" />
          </div>
        </div><br>{{ project.name }}</div></td>
        <td *ngIf="project.type==='Skill'"><div class="cjmp2">
          <span *ngIf="project.familiarity===3">X</span></div></td>
        <td *ngIf="project.type==='Skill'"><div class="cjmp3">
          <span *ngIf="project.familiarity===2">X</span></div></td>
        <td *ngIf="project.type==='Skill'"><div class="cjmp4">
          <span *ngIf="project.familiarity===1">X</span></div></td>
        <td *ngIf="project.type==='Skill'"><div class="cjmp5">
          <div class="cjmpLinkInitial" *ngFor="let linkId of project.link">
            {{ this.linkInitials(project, linkId) }} 
          </div> 
        </div></td>
      </tr>
    </tbody>
  </table>
</div>
